body
{
    font-family: Bahnschrift;
    margin: 0px;
    padding: 0px;
    background: no-repeat url("../IMAGES/paws.jpg");
}
s
{
    color: red;
}
/* Barre de Navigation */

nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    color: white;
    background: linear-gradient(to bottom right, silver, grey);
    position: sticky;
    top: 0;
}

nav h1
{
    margin-top: 10px;
}
nav img
{
    max-width: 10%;
}

label
{
    display: none;
}

label, #deroulant
{
    display: none;
}

nav .onglets
{
    display: flex;
    flex-wrap: wrap;
}

nav .onglets a
{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-top: 25px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets p
{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-top: 25px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets input
{
    margin: 15px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
}

/* Header index */

header
{
    display: flex;
    justify-content: center;
}

header h1
{
    font-size: 50px;
    max-width: 50%;
    text-align: center;
}
/* Footer */

footer
{
    margin-top: 100px;
    background-color: black;
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

footer .reseaux-sociaux
{
    display: flex;
}

footer p:hover
{
    color: cyan;
}
footer .reseaux-sociaux a
{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

footer .reseaux-sociaux a:hover
{
    color: cyan;
}

/* Media Queries */
@media screen and (max-width: 900px)
{
  
    nav .onglets
    {
        display: none;
        flex-direction: column;
    }
    
    nav .onglets input
    {
        margin: 30px 0px;
    }
   
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 10px;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
    
    #deroulant:checked + .onglets
    {
        display: flex;
    }
    
    header h1
    {
        font-size: 25px;
    }
    
    .citation
    {
        width: 75%;
    }
    
    .ventes .vente img
    {
        width: 300px;
    }
    
    .contener
    {
        width: 85%;
        margin-top: 5%;
    }
    
    .picture
    {
        width: 300px;
        height: 400px;
        justify-content: center;
    }
    
    .responsive-form
    {
        width: 70%;
    }
    
    footer
    {
        padding: 5%;
        justify-content: center;
        bottom: 0;
    }
    
    .merci_panier
    {
        width: 75%;
    }
    
    .maps iframe
    {
        width:100%; 
    }
    
    .merci
    {
        width: 75%;
    }
    
    .tofelyes
    {
        width: 275px;
        height: auto;
    }
    
    .tofalix
    {
        width: 275px;
        height: auto;
    }
    
    .cara
    {
        font-size: 80%;
    }

    .cara + span
    {
        font-size: 80%;
    }
}

